<div class="snippet">
  <div>
   <%= snippet.name %>
 </div>
 <div class="author-strap">Snippet from <%=  snippet.group.creator_username %> at <%= std_format_date snippet.created_at %></div>
 <div>
   <%= snippet.content %>
 </div>
</div>
